cryptocmd==0.6.0
plotly==4.14.3
streamlit_echarts==0.4.0
seaborn==0.11.2
streamlit==1.8.1
pytest==7.1.2
seleniumbase==2.5.4
opencv-python>=4.3
folium>=0.11
streamlit-folium>=0.6
requests
fake_useragent
geopandas
streamlit_folium
rtree
sklearn
networkx 
scipy
